#!/bin/bash
keytool -genkey -alias {{ inventory_hostname }} -keystore {{ inventory_hostname }}.jks -keyalg RSA -keysize 2048 -validity 712 -dname "CN={{ ansible_fqdn }}, OU=OpenCore, O=OpenCore, L=Wedel, ST=SH, C=DE" -ext san=dns:{{ ansible_fqdn }},ip:{{ ansible_default_ipv4.address }},ip:{{ ansible_host }} -storepass foobar1234 -keypass foobar1234
keytool -certreq -alias {{ inventory_hostname }} -keystore {{ inventory_hostname }}.jks -file {{inventory_hostname}}.csr -keyalg rsa -ext san=dns:{{ ansible_fqdn }},ip:{{ ansible_default_ipv4.address }},ip:{{ ansible_host }} -storepass foobar1234
